
<div class="pagination">
    <div class="float-left pagination-text">  Showing {{pageStart}} of {{totalPages}} (of total {{total}})</div>
    <div class="float-right pagination-buttons">
        <button [disabled]="(pageStart == 1 )"
         class="btn btn-primary" 
         (click)="previous()"> < Previous
        </button>
   
        <button [disabled]="(pageStart == totalPages)"
         class="btn btn-primary"  
         (click)="next()">Next > 
        </button> 
    </div>
</div>

       
